@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Comic+Relief:wght@400;700&display=swap');

/* variáveis globais*/

:root {
    --cor-primaria: #C1121F;
    --cor-primaria-escura: #780000;
    --cor-bg: #FDF0D5;
    --cor-branco: #ffffff;
    --cor-borda: #ddd;
    --cor-sombra: rgba(0, 0, 0, 0.15);
    --cor-text: #333;
    --fonte: 'Roboto', 'sans serif';
    --raio: .8rem;
    --transition: .3s ease;
}


/*-----------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--cor-text);
    background: #669BBC;
    background: linear-gradient(90deg, rgba(102, 155, 188, 1) 0%, rgba(43, 45, 66, 1) 100%, rgba(0, 48, 73, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;

}

.container{
    background-color: var(--cor-bg);
    

}