@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Comic+Relief:wght@400;700&display=swap');

/* variáveis globais*/

:root {
    --cor-primaria: #C1121F;
    --cor-primaria-escura: #780000;
    --cor-bg: #FDF0D5;
    --cor-branco: #ffffff;
    --cor-borda: #ddd;
    --cor-sombra: rgba(0, 0, 0, 0.15);
    --cor-text: #333;
    --fonte: 'Comic Neue', 'sans serif';
    --raio: .8rem;
    --transition: .3s ease;
}


/*-----------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--cor-text);
    background: #669BBC;
    background: linear-gradient(90deg, rgba(102, 155, 188, 1) 0%, rgba(43, 45, 66, 1) 100%, rgba(0, 48, 73, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;

}

.container{
    background-color: var(--cor-bg);
    padding: clamp(2rem, 5vw, 3rem);
    border-radius: var(--raio);
    box-shadow: 0 8px 24px var(--cor-sombra);
    width: 100%;
    max-width: 400px;
    text-align: center;

}   

/*título*/

.titulo {
    font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
    color: var(--cor-text);
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-family: 'Comic Neue';

}

/*inputs*/

input{
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: 1px solid var(--cor-borda);
    border-radius: var(--raio);
    font-size: 1rem;
    transition: var(--transition);

}

input:focus{
    border-color: var(--cor-primaria-escura);
    outline: none;
    box-shadow: 0 0 0 3px rgba(107,115, 255, .25);

}

.botoes{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;

}

button{
    padding: 12px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: var(--raio);
    background-color: var(--cor-primaria);
    transition: var(--transition);
    cursor: pointer;

}

button:hover{
    background-color: var(--cor-primaria-escura);

}

@media (max-width: 360px) {
    .container{
        padding: 1.5rem;
    }

    .input, button{
        font-size: .95rem;
    }
}