.cabecalho{
    background: linear-gradient(0.25turn, #330070, #34d0f7, #330070);
    border: solid 10px #000;
    border-radius: 5px;
}

.titulo{
    text-align: center;
    padding: 15px;
    
}